<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>IP管理中心</title><link href="{{ STATIC_URL }}img/{{ APP_CODE }}.png" rel="shortcut icon" type=image/x-icon><link href={{STATIC_URL}}dist/css/chunk-bk-magic-vue.acffb894851c2cb98bab.css rel=stylesheet><link href={{STATIC_URL}}dist/css/vendors~app.dddb5a3d93ee5b5ef14a.css rel=stylesheet><link href={{STATIC_URL}}dist/css/app.3a53ae8b7d4455933ded.css rel=stylesheet></head><body><script>if ('{{ RUN_MODE }}' === 'DEVELOP') {
        window.siteUrl = window.location.origin + "/"
    } else {
        window.siteUrl = '{{ BK_PLAT_HOST }}{{ SITE_URL }}'
    }
    window.APP_CODE = '{{ APP_CODE }}';
    window.CSRF_COOKIE_NAME = '{{ CSRF_COOKIE_NAME }}';
    window.isSuper = '{{ is_super }}' === 'True'
    window.CSRFTOKEN = '{{ csrf_token }}'</script><div id=app></div><script type=text/javascript src={{STATIC_URL}}dist/js/manifest.js></script><script type=text/javascript src={{STATIC_URL}}dist/js/chunk-bk-magic-vue.acffb894851c2cb98bab.js></script><script type=text/javascript src={{STATIC_URL}}dist/js/vendors~app.dddb5a3d93ee5b5ef14a.js></script><script type=text/javascript src={{STATIC_URL}}dist/js/app.3a53ae8b7d4455933ded.js></script></body></html>